<nav
  class="flex h-16 justify-between items-center p-4 mx-auto max-w-screen-xl bg-red-300"
>
  <div>
    <a class="mr-4 sm:hidden" (click)="addClassToElement()">
      <i class="fa-solid fa-bars fa-xl"></i>
    </a>
    <a href="#home">Trinity</a>
  </div>
  <div>
    <img
      class="w-10 h-10 rounded-full"
      [src]="(userData$ | async)?.profileImg"
      alt="Rounded avatar"
    />
  </div>
</nav>
<div class="flex max-w-screen-xl mx-auto">
  <div class="bg-red-200 left-nav">
    <ul class="m-4 max-sm:m-2">
      <li>
        <a
          class="p-2"
          routerLink="dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><span class="w-5"><i class="fa-solid fa-house"></i></span
          ><span
            [ngClass]="{ navToggle: isClassAdded }"
            class="pl-2 max-sm:hidden"
            >Dashboard</span
          ></a
        >
      </li>
    </ul>
    <ul class="m-4 max-sm:m-2">
      <li>
        <a
          class="p-2"
          routerLink="notes"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><span><i class="fa-solid fa-file"></i></span
          ><span
            [ngClass]="{ navToggle: isClassAdded }"
            class="pl-2 max-sm:hidden"
            >Notes</span
          ></a
        >
      </li>
    </ul>
    <ul class="m-4 max-sm:m-2">
      <li>
        <a
          class="p-2"
          routerLink="test"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><span><i class="fa-solid fa-square-pen"></i></span
          ><span
            [ngClass]="{ navToggle: isClassAdded }"
            class="pl-2 max-sm:hidden"
            >Test</span
          ></a
        >
      </li>
    </ul>
    <ul class="m-4 max-sm:m-2">
      <li>
        <a
          class="p-2"
          routerLink="settings"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><span><i class="fa-solid fa-gear"></i></span
          ><span
            [ngClass]="{ navToggle: isClassAdded }"
            class="pl-2 max-sm:hidden"
            >Settings</span
          ></a
        >
      </li>
    </ul>
  </div>
  <div class="main-content bg-green-50 flex-1 overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
