<nav
  class="flex h-16 justify-between items-center p-4 mx-auto max-w-screen-xl bg-darkNavy"
>
  <div>
    <a class="mr-4 sm:hidden" (click)="addClassToElement(b)">
      <i class="fa-solid fa-bars fa-xl"></i>
    </a>
    <a class="text-white" href="#home">Trinity</a>
  </div>
  <div>
    <img
      routerLink="settings"
      class="w-10 h-10 rounded-full"
      [src]="(profileImg$ | async)?.profileImg"
      alt="Rounded avatar"
    />
  </div>
</nav>
<div class="flex max-w-screen-xl mx-auto overflow-x-hidden">
  <div class="bg-navy left-nav duration-100">
    <ul class="m-4 max-sm:m-2">
      <li class="my-4">
        <a
          class="p-2"
          routerLink="dashboard"
          routerLinkActive="active"
          ><span class="w-5"><i class="fa-solid fa-house"></i></span
          ><span
            [ngClass]="{ navToggle: isClassAdded }"
            class="pl-2 max-sm:hidden"
            >Dashboard</span
          ></a
        >
      </li>
      <li class="my-4 pr-auto">
        <a
          class="p-2"
          routerLink="notes"
          routerLinkActive="active"
          ><span><i class="fa-solid fa-file mx-[3px]"></i></span
          ><span
            [ngClass]="{ navToggle: isClassAdded }"
            class="pl-2 max-sm:hidden"
            >Notes</span
          ></a
        >
      </li>
      <li class="my-4">
        <a
          class="p-2"
          routerLink="test"
          routerLinkActive="active"
          ><span><i class="fa-solid fa-square-pen mx-[2px]"></i></span
          ><span
            [ngClass]="{ navToggle: isClassAdded }"
            class="pl-2 max-sm:hidden"
            >Test</span
          ></a
        >
      </li>
      <li class="my-4">
        <a
          class="p-2"
          routerLink="result"
          routerLinkActive="active"
          ><span><i class="fa-solid fa-square-poll-vertical mx-[2px]"></i></span
          ><span
            [ngClass]="{ navToggle: isClassAdded }"
            class="pl-2 max-sm:hidden"
            >Result</span
          ></a
        >
      </li>
      <li class="my-4">
        <a
          class="p-2"
          routerLink="settings"
          routerLinkActive="active"
          ><span><i class="fa-solid fa-gear mx-[1px]"></i></span
          ><span
            [ngClass]="{ navToggle: isClassAdded }"
            class="pl-2 max-sm:hidden"
            >Settings</span
          ></a
        >
      </li>
    </ul>
  </div>
  <div #b class="main-content bg-offWhite flex-1 overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
