<h1 class="font-bold text-2xl my-4">Welcome {{ name }}</h1>
<h1 class="font-bold text-xl my-4">Performance</h1>
<div class="flex flex-wrap flex-1 justify-around">
  <div class="w-1/4 min-w-[100px] max-w-[160px]">
    <div class="w-full aspect-square relative">
      <canvas id="MyChart">{{ topChart }}</canvas>
      <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        {{ topMarks }}/{{ totalMarks }}
      </p>
    </div>
    <p class="text-xs text-center">Highest Score</p>
  </div>
  <div class="w-1/4 min-w-[100px] max-w-[160px]">
    <div class="w-full aspect-square relative">
      <canvas id="MyChart2">{{ averageChart }}</canvas>
      <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        {{ averageMarks }}/{{ totalMarks }}
      </p>
    </div>
    <p class="text-xs text-center">Average Score</p>
  </div>
</div>
<h1 class="font-bold text-xl my-4">Accuracy</h1>
<div>
  <div class="w-1/4 min-w-[100px] max-w-[160px] mx-auto mb-4">
    <div class="w-full aspect-square relative">
      <canvas id="MyChart3">{{ overollAccuracyChart }}</canvas>
      <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        {{ totalAccuracy }}%
      </p>
    </div>
    <p class="text-xs text-center">overoll</p>
  </div>
  <div class="flex flex-wrap flex-1 justify-around">
    <div class="w-1/4 min-w-[100px] max-w-[160px]">
      <div class="w-full aspect-square relative">
        <canvas id="MyChart4">{{ physicsAccuracyChart }}</canvas>
        <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          {{ physicsAccuracy }}%
        </p>
      </div>
      <p class="text-xs text-center">Physics</p>
    </div>
    <div class="w-1/4 min-w-[100px] max-w-[160px]">
      <div class="w-full aspect-square relative">
        <canvas id="MyChart5">{{ chemistryAccuracyChart }}</canvas>
        <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          {{ chemistryAccuracy }}%
        </p>
      </div>
      <p class="text-xs text-center">Chemistry</p>
    </div>
    <div class="w-1/4 min-w-[100px] max-w-[160px]">
      <div class="w-full aspect-square relative">
        <canvas id="MyChart6">{{ bioAccuracyChart }}</canvas>
        <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          {{ bioAccuracy }}%
        </p>
      </div>
      <p class="text-xs text-center">bio</p>
    </div>
  </div>
</div>
<h1 class="font-bold text-xl my-4">Timming</h1>
<div class="aspect-[3/2] max-w-[500px] mx-auto">
  <canvas id="MyChart7">{{ timmingChart }}</canvas>
</div>
<p class="text-center p-2 text-gray-600">Average time per question</p>
