<nav class="max-w-screen-xl flex p-4 justify-between mx-auto items-center">
  <div><a href="#home">Trinity</a></div>
  <div #list class="max-sm:fixed max-sm:w-3/4 top-0 right-full">
    <ul class="flex max-sm:flex-col">
      <li><a class="m-1 p-2" href="">Home</a></li>
      <li><a class="m-1 p-2" href="">About</a></li>
      <li><a class="m-1 p-2" href="">Contact</a></li>
      <li><a class="m-1 p-2" href="">Experience</a></li>
    </ul>
  </div>
  <div class="max-sm:ml-auto">
    <button
      type="button"
      class="text-gray-900 my-auto bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
    >
      Login
    </button>
  </div>
  <div class="block sm:hidden my-auto">
    <a (click)="toggleClass(list)">
      <i class="fa-solid fa-bars fa-2xl"></i>
    </a>
  </div>
</nav>
