<nav id="home" class="max-w-screen-xl flex p-4 justify-between mx-auto items-center">
  <div><a href="#home">Trinity</a></div>
  <div
    #list
    class="max-sm:fixed max-sm:w-1/2 max-sm:top-0 max-sm:-right-full duration-100 max-sm:bg-gray-100 max-sm:h-[100vh] z-10"
  >
    <ul
      class="flex max-sm:flex-col max-sm:w-full max-sm:justify-start max-sm:items-stretch max-sm:h-full max-sm:py-20 max-sm:px-4 max-sm:space-y-5"
    >
      <li><a class="m-1 p-2" >Home</a></li>
      <li><a class="m-1 p-2" >About</a></li>
      <li><a class="m-1 p-2" >Contact</a></li>
      <li><a class="m-1 p-2" >Experience</a></li>
      <li><a class="m-1 p-2" routerLink='/adminlogin'>Admin</a></li>
    </ul>
  </div>
  <div class="max-sm:ml-auto">
    <button (click)="navigateToRoute()"
      type="button"
      class="text-gray-900 my-auto bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-2 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 mr-2"
    >
      Login
    </button>
  </div>
  <div class="block sm:hidden my-auto z-10">
    <button
      (click)="toggleClass(list)"
      type="button"
      class="text-gray-900 bg-white focus:outline-none hover:bg-gray-100 focus:ring-2 focus:ring-gray-200 font-medium rounded-lg text-sm px-1.5 py-1.5 "
    >
      <i class="fa-solid fa-bars fa-2xl"></i>
    </button>
  </div>
</nav>

