.wpr {
  min-height: calc(100vh - 64px);
}
.dark{
  background: slategray;
  color: white;
  border: 1px solid black;
}
.light{
  background: slategray;
}
.aspect-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
}
