<div id="contact" class="main py-5 pb-7">
  <div class="max-w-screen-2xl my-4 py-6 mx-auto w-[90vw]">
    <h2 class="font-semibold text-3xl mb-6">Pricing And Offers</h2>
    <div class="mt-2 flex gap-4 sc max-sm:justify-start  justify-center overflow-y-scroll">
      <div class="p-4 border min-w-[190px] border-gray rounded-xl bg-gray-100">
        <h4 class=" font-semibold ">Individual Subject</h4>
        <h1 class="text-center text-slate-700 font-bold my-3 mb-1 text-2xl">&#8377; 599</h1>
        <p class="text-gray-700 text-center text-sm">Per Subject/Month</p>
      </div>
      <div class="p-4 border min-w-[190px]  border-gray rounded-xl bg-gray-100">
        <h4 class=" font-semibold ">Combined Subjects</h4>
        <h1 class="text-center text-slate-700  font-bold my-3 mb-1 text-2xl"> &#8377; 1599</h1>
        <p class="text-gray-700 text-center text-sm">Per Month For 3 Subjects</p>
      </div>
      <div class="p-4 border min-w-[190px]  border-gray rounded-xl bg-gray-100">
        <h4 class=" font-semibold ">Dropper Plan</h4>
        <h1 class="text-center text-slate-700  font-bold my-3 mb-1 text-2xl">&#8377; 15990</h1>
        <p class="text-gray-700 text-center text-sm">For All Subjects For 1 Year</p>
      </div>
    </div>
      <div class="flex justify-center">
    <div class="border p-4 mt-4 max-sm:flex-1 rounded-xl bg-gray-100 ">

      <h3 class="text-center text-xl mb-4 font-semibold">Benefits</h3>
     <ul class="flex gap-x-5 justify-center max-sm:flex-col ">
       <div class="flex-1">
       <li><span class="inline-block w-2 my-auto bg-rose-700 mr-2 rounded-full aspect-square "></span>Interactive Learning</li>
       <li><span class="inline-block w-2 my-auto bg-rose-700 mr-2 rounded-full aspect-square "></span>Experienced Teachers</li>
       <li><span class="inline-block w-2 my-auto bg-rose-700 mr-2 rounded-full aspect-square "></span>Advanced Online Testing System</li>
       </div>
       <div class="flex-1">
       <li><span class="inline-block w-2 my-auto bg-rose-700 mr-2 rounded-full aspect-square "></span>Consistent Lectures</li>
       <li><span class="inline-block w-2 my-auto bg-rose-700 mr-2 rounded-full aspect-square "></span>Guidance and Support</li>
       <li><span class="inline-block w-2 my-auto bg-rose-700 mr-2 rounded-full aspect-square "></span>Regular Testing</li>
       </div>
     </ul>
      </div>
    </div>
  </div>
</div>
