<div class="bg-black" [style.height]="height">
  <div
    class="relative max-w-screen-2xl h-full mx-auto w-full text-white overflow-hidden"
  >
    <div
      *ngFor="let image of images; index as i"
      class="absolute top-0 left-0 h-full w-full"
      [class]="selectImage(i)"
    >
      <div class="h-full w-full relative">
        <img
          class="w-full h-full object-cover"
          [src]="image.imageSrc"
          [alt]="image.imageAlt"
        />
        <div
          class="absolute z-10 top-0 left-0 h-full flex-col flex justify-center gr px-8"
          [style.width]="height"
        >
          <h3
            [style.animationDelay]="'300ms'"
            class="font-semibold text-2xl -translate-y-8 drop-shadow-lg animate_down"
          >
            {{ image.imageHeading }}
          </h3>
          <p
            [style.animationDelay]="'600ms'"
            class="text-sm -translate-y-8 drop-shadow-lg animate_down"
          >
            {{ image.imageText }}
          </p>
        </div>
      </div>
    </div>
    <div class="absolute left-0 pl-8  bottom-16 z-[15] w-full flex justify-start gap-2">
      <a
        *ngFor="let image of images; index as i"
        (click)="selectedIndex = i"
        [style.background]="selectedIndex == i ? '#e11d48' : 'white'"
        class="inline-block w-[10px] h-[10px] rounded-full bg-white drop-shadow-lg"
      >
      </a>
    </div>
  </div>
</div>
