<div class="flex flex-col wpr justify-between">
  <div *ngIf="profileData$ | async as profileData" class="p-4">
    <div class="max-w-[400px] p-3 sm:p-6 m-auto mt-5 boxS rounded-lg pb-9 text-gray-500">
      <img
        class="mx-auto p-1 rounded-full ring-2 ring-gray-300 mb-8"
        [src]="profileData.profileImg"
        alt=""
      />
      <p class="my-3">
        <span class="text-gray-700 font-semibold">Name: </span>
        {{ profileData.name }}
      </p>
      <p class="my-3">
        <span class="text-gray-700 font-semibold">Email: </span>
        {{ profileData.email }}
      </p>
      <p class="my-3">
        <span class="text-gray-700 font-semibold">Phone Number: </span
        >{{ profileData.phoneNumber }}
      </p>
      <p class="my-3 mb-8">
        <span class="text-gray-700 font-semibold">Preparing For: </span
        >{{ profileData.prep }}
      </p>
      <a (click)="logout()" class="bg-darkNavy text-white p-3 rounded-lg">Logout</a>
    </div>
  </div>
  <div>
    <app-student-footer></app-student-footer>
  </div>
</div>
