#logo {
  height: 40px;
  width: 40px;
}
.path {
  fill: transparent;
  stroke: black;
  stroke-width: 5;
}
.polygon {
  fill: transparent;
  stroke: #4A55A2;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.active {
  font-weight: 600;
}
.active1 > i {
  border-radius: 1000px;
  background: #A0BFE0;
}
.gr {
  background: rgb(232, 227, 213);
  background: linear-gradient(
    90deg,
    rgba(232, 227, 213, 1) 41%,
    rgba(229, 231, 235, 1) 42%
  );
}
