  <div class="pt-2">
    <a (click)="cancelTest()" class="bg-gray-600 p-2 rounded-md text-white mt-2"
      >Cancel</a
    >
  </div>
  <div *ngIf="testData$ | async as testData">
    <div *ngIf="questionData$ | async as questionData" class="mt-4">
      <p class="text-gray-600">
      Question: {{index1 + 1}}
      </p>
      <p class="p-2 bg-gray-300 rounded-md">
     {{ questionData.questionText}}
      </p>
      <div class="my-3" >
        <div *ngFor="let option of questionData.options;let i=index" class=" my-4">
          <span class="p-2 bg-gray-300 flex-auto rounded-xl">{{i+1}}: {{option}}</span>
        </div>
      </div>
    </div>
  </div>
