<div class="bg-gray-50 rounded-md p-4 min-h-full max-sm:pt-[80px] max-sm:pb-[84px]">
  <div class="md:px-4">
    <h2 class="my-4 font-semibold text-2xl">Dashboard</h2>
    <div *ngIf="dashboardData$ | async as data">
      <div class="flex gap-3 text-white text-center ">
        <div class="flex-1 rounded-2xl bg-rose-500 px-4 py-5">
          <p class="font-bold font-lg">
          {{ data.totalStudent }}
          </p>
          <p>Total Students</p>
        </div>
        <div class="flex-1 rounded-2xl bg-blue-500 px-4 py-5">
          <p class="font-bold font-lg">
          {{
          data.jeePhysics +
          data.jeeChemistry +
          data.jeeMath +
          data.numPhysics +
          data.numChemistry +
          data.numMath +
          data.neetPhysics +
          data.neetChemistry +
          data.neetBio
          }}
          </p>
          <p>Total Questions</p>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>
