<footer id="contact" class="bg-gray-200 border-t-[5px] border-gray-300">
  <div class="max-w-screen-xl mx-auto w-[90vw] py-5">
    <div
      class="flex justify-around gap-2 max-sm:flex-col max-sm:text-center my-2 text-gray-600"
    >
      <div class="w-[200px] max-sm:w-auto my-2">
        <h3 class="font-semibold text-xl text-black">CONTACT</h3>
        <div>
          <a class="hover:text-rose-500" href="tel:918789001900"
            >+91 8789001900</a
          >
        </div>
        <div>
          <a class="hover:text-rose-500" href="tel:919555128779"
            >+91 9555128779</a
          >
        </div>
      </div>
      <div class="w-[200px] max-sm:w-auto my-2">
        <h3 class="font-semibold text-xl text-black">INFORMATION</h3>
        <a
          href="https://maps.app.goo.gl/NdLrSo6FUa4jVpv6A"
          class="hover:text-rose-500"
          ><span>Address: </span>C-9/4 Yamuna Vihar Delhi-110053</a
        >
      </div>
      <div class="w-[200px] max-sm:w-auto my-2">
        <h3 class="font-semibold text-xl text-black">LINKS</h3>
        <a
          class="hover:text-rose-500"
          href="https://m.youtube.com/channel/UCXxa3A7P6_V6EahmxtQvznA?fbclid=PAAaZPfR2EDiUKpXmEuvCFOu6qrNNoyhgf1OXYA8OqyAULLTgtUjP6vPT-b_0"
          ><i class="fa-brands fa-youtube fa-xl mr-2"></i
        ></a>
        <a
          class="hover:text-rose-500"
          href="https://instagram.com/trinity_classes2017?igshid=NjIwNzIyMDk2Mg=="
          ><i class="fa-brands fa-instagram fa-xl"></i
        ></a>
      </div>
    </div>
    <p class="text-center text-black mt-3">
      © 2023 Trinity. All rights reserved.
    </p>
  </div>
</footer>
