<footer id="contact" class="bg-gray-200 border-t-[5px] border-gray-300">
  <div class="max-w-screen-2xl mx-auto w-[90vw] py-5">
    <div
      class="flex justify-around gap-2 max-sm:flex-col max-sm:text-center my-2 text-gray-600"
    >
      <div class="w-[200px] max-sm:w-auto my-2">
        <h3 class="font-semibold text-xl text-black">CONTACT</h3>
        <div>
          <a class="hover:text-rose-500" href="tel:9199999999"
            >+91 9999999999</a
          >
        </div>
        <div>
          <a class="hover:text-rose-500" href="tel:91999999999"
            >+91 9999999999</a
          >
        </div>
      </div>
      <div class="w-[200px] max-sm:w-auto my-2">
        <h3 class="font-semibold text-xl text-black">INFORMATION</h3>
        <a
          href="#"
          class="hover:text-rose-500"
          ><span>Address: </span>Taj Mahal Delhi-110053</a
        >
      </div>
      <div class="w-[200px] max-sm:w-auto my-2">
        <h3 class="font-semibold text-xl text-black">LINKS</h3>
        <a
          class="hover:text-rose-500"
          href="#"
          ><i class="fa-brands fa-youtube fa-xl mr-2"></i
        ></a>
        <a
          class="hover:text-rose-500"
          href="#"
          ><i class="fa-brands fa-instagram fa-xl"></i
        ></a>
      </div>
    </div>
    <p class="text-center text-black text-sm mt-3">
      © 2023 Project X. All rights reserved.
    </p>
  </div>
</footer>
