<div id="contact"  class="main  py-5 pb-7">
  <div class="max-w-[840px] py-6 mx-auto w-[90vw]">
    <h2 class="text-center font-semibold text-3xl ">Contact Us</h2>
    <p class="text-center text-sm text-gray-700 mt-2 mb-5">Got a technical issue? Want to send feedback about a beta feature? Need details
about our plans? Let us know.</p>
    <form (ngSubmit)="onSubmit(profileForm)"  #profileForm="ngForm" ngNativeValidate>
      <p class="font-semibold text-xs mt-3">Email</p>
      <input ngModel type="text" required class="bg-gray-200 mt-1 border-none w-full p-2 rounded-md" name="email" placeholder="name@gmail.com">
      <p class="font-semibold text-xs mt-3">Subject</p>
      <input ngModel type="text" required class="bg-gray-200 mt-1 border-none w-full p-2 rounded-md " name="subject" placeholder="how we can help you">
      <p class="font-semibold text-xs mt-3">Your Message</p>
      <textarea rows="5" ngModel required type="text" class="bg-gray-200 mt-1 border-none w-full rounded-md  border-gray-600   p-2" name="message" placeholder="Leave a message"></textarea>
      <button type="submit" class="py-2 px-4 hover:bg-blue-600 rounded-lg bg bg-blue-500 text-white mt-3" type="submit">Send Message</button>
      <p *ngIf="submit" class="text-red-700 mt-2">Thank You Contacting Us.
      </p>
    </form>
  </div>
</div>
