@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}
mjx-container{
  display: inline-block;
}
.jax-process{
  display:inline
}
