<div
  class="p-4 max-sm:pt-[80px] bg-gray-50 rounded-sm min-h-full max-sm:pb-[134px]"
>
  <div>
    <div class="p-4">
      <div class="flex">
        <a
          routerLink="jee"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex-1 text-center mr-2 bg-gray-300 rounded-md p-2"
        >
          JEE
        </a>
        <a
          routerLink="neet"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex-1 text-center ml-2 bg-gray-300 radius rounded-md p-2"
        >
          NEET
        </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
