<div *ngIf="data$ | async as student" class="mt-5">
  <div class="flex gap-4 flex-wrap text-center">
    <div
      class="flex-1 p-4 flex flex-col justify-around items-center font-semibold text-lg rounded-3xl bg-amber-400 text-white">
      <p>{{ student.topMarks }}/300</p>
      <p class="text-sm font-normal">Top Marks</p>
    </div>
    <div
      class="flex-1 p-4 flex flex-col justify-around items-center font-semibold text-lg rounded-3xl bg-rose-500 text-white">
      <p>{{ student.averageMarks }}/300</p>
      <p class="text-sm font-normal">Average Marks</p>
    </div>
    <div
      class="flex-1 p-4 flex flex-col justify-around items-center font-semibold text-lg rounded-3xl bg-indigo-500 text-white">
      <p>
        {{
        getOverollAccuracy(
        student.physicsAccuracy,
        student.mathAccuracy,
        student.chemistryAccuracy
        )
        }}%
      </p>
      <p class="text-sm font-normal">Average Accuracy</p>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 h-56 mt-5 ">
    <div class="flex-1 bg-white shadow rounded-3xl p-5">
      <h2 class="font-semibold text-sm">Precision by Subject</h2>
      <div class="mt-5">
        <canvas class="w-[200px] mx-auto sm:w-[300px]" baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets"
          [options]="doughnutChartOptions" [legend]="true" [type]="'doughnut'">
          {{dataSet()}}
        </canvas>
      </div>
    </div>
    <div class="flex-1 bg-white shadow rounded-3xl p-5">
      <h2 class="font-semibold text-sm">Subject-Specific Timing</h2>
      <div class="mt-5">
        <canvas class="w-[200px] mx-auto sm:w-[300px]" baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets"
          [options]="doughnutChartOptions" [legend]="true" [type]="'doughnut'">
        </canvas>
      </div>
    </div>
  </div>
</div>
